body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #030303;
    color: #f4f8f8;
}

header {
    background-color: #40c7a5;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9800;
}

section {
    padding: 60px 20px;
    text-align: center;
}

section#inicio {
    background-image: url('../Imagenes/IMG_0800.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#inicio h2 {
    font-size: 48px;
}

section#galeria img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

section#biografia {
    background-color: #000000;
}

section#contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#contacto input, section#contacto textarea {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section#contacto button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section#contacto button:hover {
    background-color: #ff9800;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section#inicio h2 {
        font-size: 32px;
    }

    section#galeria img {
        max-width: 100%;
    }
}
